/* styles/Navbar.css */
nav {
  position: fixed;
  top: 0;
  width: 95%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1890ff; /* Bright blue */
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav div {
  font-size: 18px;
  font-weight: bold;
}

nav div:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}
